@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light text-dark antialiased;
    @apply bg-light text-dark antialiased;
  }
}

/* Custom scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-black;
}